@theme {
  --text-xxs: 0.75rem; /* 12px */
  --text-xs: 0.8125rem; /* 13px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 0.9375rem; /* 15px */
  --text-lg: 1rem; /* 16px */
  --text-xl: 1.125rem; /* 18px */
  --text-2xl: 1.25rem; /* 20px */
  --text-3xl: 1.5rem; /* 24px */
  --text-4xl: 1.625rem; /* 26px */
  --text-5xl: 1.75rem; /* 28px */
  --text-6xl: 2.5rem; /* 40px */
  --text-7xl: 3.125rem; /* 50px */
  --text-8xl: 3.75rem; /* 60px */
}
